<template>
  <div class="input-container">
    <form>
      <textarea v-model="inputText" placeholder="past text here"></textarea>
    </form>
  </div>
</template>

<script>
  export default {
    name: 'InputContainer',
    props: {},
    data() {
      return {
        inputText: '',
      };
    },
    methods: {
      onInput() {
        this.$emit('onInput', this.toArray());
      },
      toArray() {
        return this.inputText.split('\n');
      }
    },
    watch: {
      inputText() {
       this.onInput()
      }
    }
  };
</script>
<style lang="scss">
  .input-container {
    width: 100%;
    height: 500px;
    background: lavender;
    display: flex;
    align-items: center;
    justify-content: center;
    textarea {
      min-width: 900px;
      height: 400px;
      max-height: 100%;
    }
  }
</style>
