<template>
  <div class="output-container">
    <div>{{layoutText}}</div>
    <div>{{arrayText}}</div>
    <div>{{jsonText}}</div>
  </div>
</template>

<script>
  export default {
    name: 'OutputContainer',
    props: {},
    data() {
      return {
        layoutText: '',
        arrayText: '',
        jsonText: '',
      }
    },
    methods: {
      showResult(container) {
        this.arrayText = '';
        this.layoutText = '';
        const outputObject = {};
        const pages = Array.from(container.children);
        pages.forEach((page, indexPage) => {
          outputObject[`page_${indexPage}`] = {};
          const pars = Array.from(page.children);

          this.arrayText += `'page${indexPage}', `;
          this.layoutText += `page${indexPage}: createPage(${indexPage}, ${pars.length - 1}), `;

          pars.forEach((par, indexPar) => {
            outputObject[`page_${indexPage}`][`par_${indexPar}`] = '';
            const rows = Array.from(par.children);
            rows.forEach((row, indexRow) => {
              const noEnter = indexRow === rows.length - 1 || rows.length <= 1;
              outputObject[`page_${indexPage}`][`par_${indexPar}`] += noEnter ? row.innerText : `${row.innerText}\n`;
            });
          });
        });
        console.log(outputObject);
        this.jsonText = outputObject;
      },
    },
  };
</script>
<style lang="scss">
  .output-container {
    width: 100%;
    min-height: 400px;
    background: cornsilk;

    div {
      padding: 30px;
    }
  }
</style>
