<template>
  <div class="preview-container" ref="container">

  </div>
</template>

<script>
  export default {
    name: 'PreviewContainer',
    props: ['width', 'height', 'margin', 'textArray'],
    data() {
      return {
        currentBlock: undefined,
        currentPar: undefined,
        currentRow: undefined,
      };
    },
    methods: {
      createBlock() {
        this.currentBlock = document.createElement('div');
        this.currentBlock.style.width = this.width;
        this.$refs.container.appendChild(this.currentBlock);
      },
      createParagraph() {
        this.currentPar = document.createElement('p');
        this.currentPar.style.marginTop = this.margin;
        this.currentBlock.appendChild(this.currentPar);
      },
      createRow() {
        this.currentRow = document.createElement('span');
        this.currentPar.appendChild(this.currentRow);
      },

      clearIfEmpty() {
        if (this.currentRow !== undefined && this.currentRow.innerText.length === 0) {
          this.currentRow.remove();
        }
        if (this.currentPar !== undefined && this.currentPar.innerText.length === 0) {
          this.currentPar.remove();
        }
      },

      blocksFiller(paragraph) {
        if (paragraph.every(word => word.length === 0)) return;
        this.clearIfEmpty();
        this.createParagraph();
        this.createRow();
        let firstLine = true;
        while (paragraph.length > 0) {
          const word = paragraph.shift();
          if(word.includes('<<<>>>')) {
            this.clearIfEmpty();
            this.currentBlock.style.height = `${this.height}px`;
            this.createBlock();
            this.createParagraph();
            this.createRow();
            let firstLine = true;
            continue;
          }
          const prevHeight = this.currentBlock.clientHeight;
          const spacer = document.createElement('span');
          spacer.innerText = word;
          this.currentRow.appendChild(spacer);
          const currHeight = this.currentBlock.clientHeight;
          const needNewRow = currHeight > prevHeight;
          const needNewPage = this.currentBlock.clientHeight > this.height;
          if (!firstLine && needNewRow && !needNewPage) {
            this.createRow();
          }
          spacer.remove();
          if (needNewPage) {
            this.clearIfEmpty();
            this.currentBlock.style.height = `${this.height}px`;
            this.createBlock();
            this.createParagraph();
            this.createRow();
          }
          this.currentRow.innerHTML +=  paragraph.length === 0 ? word : `${word} `;
          firstLine = false;
        }
      },
      convert() {
        this.$refs.container.innerHTML = '';
        this.currentBlock = undefined;
        this.currentPar = undefined;
        this.currentRow = undefined;
        this.createBlock();
        this.textArray.forEach(par => {
          const wordsArray = par.split(' ');
          this.blocksFiller(wordsArray);
        });
        this.$emit('formated', this.$refs.container);
      },
    },
  };
</script>
<style lang="scss">
  .preview-container {
    width: 100%;
    min-height: 400px;
    background: ghostwhite;

    div {
      margin: 30px auto;
      box-shadow: aquamarine 0 0 3px 3px;
    }

    p {
      margin: 0;
    }
  }
</style>
