<template>
    <div id="app">
        <div class="settings-container">
            <form>
                <label>
                    <span>font size</span>
                    <input type="text" v-model="fontSize">
                </label>
                <label>
                    <span>line height</span>
                    <input type="text" v-model="lineHeight">
                </label>
                <!--<label>
                    <span>line height</span>
                    <input type="text" v-model="letterSpacing">
                </label>-->
                <label>
                    <span>margin top</span>
                    <input type="text" v-model="marginTop">
                </label>
                <div style="margin-top: 30px">
                    <label>
                        <span>constainer width</span>
                        <input type="text" v-model="width">
                    </label>
                    <label>
                        <span>container height, px only</span>
                        <input type="text" v-model="height">
                    </label>
                </div>
                <div style="margin-top: 30px">
                    <label>
                        <span>Load font</span>
                        <input type="file" ref="fontFiles" @change="loadFont">
                    </label>
                    <button @click.prevent="convert()" style="background: gold; width: 200px;">Convert</button>
                </div>
            </form>
        </div>
        <h2>Input</h2>
        <div style="margin: 30px auto; width: 500px">
           <p><<<>>> - new page</p>
        </div>
        <InputContainer @onInput="handleInput"/>
        <h2>Preview</h2>
        <PreviewContainer :style="{
    fontSize,
    lineHeight,
    //letterSpacing,
    }"
                          :width="width"
                          :height="height"
                          :margin="marginTop"
                          :textArray="textArray"
                          @formated="onFormated"
        />
        <h2>Output JSON</h2>
        <OutputContainer/>
    </div>
</template>

<script>
  import InputContainer from "./components/InputContainer.vue";
  import PreviewContainer from "./components/PreviewContainer";
  import OutputContainer from "./components/OutputContainer.vue";

  export default {
    name: "app",
    components: {
      InputContainer,
      PreviewContainer,
      OutputContainer,
    },
    data() {
      return {
        fontSize: "18px",
        lineHeight: "20px",
        letterSpacing: "0.01px",
        marginTop: "20px",
        width: "880px",
        height: "438",
        textArray: [],
        fontID: "fontStyle",
        fontInBase64: undefined,
      };
    },
    methods: {
      applyFont() {
        if (this.fontInBase64 !== undefined) {
          let $style = document.getElementById(this.fontID);
          if (!$style) {
            const $head = document.head;
            $style = document.createElement("style");
            $style.id = this.fontID;
            $style.type = "text/css";
            $head.appendChild($style);
          }
          const text = `
@font-face {
font-family: 'MyFontFamily';
src: url(data:font;charset=utf-8;base64,${this.fontInBase64});
}
body {
font-family: MyFontFamily;
}`;
          $style.innerHTML = text;
        }
      },
      loadFont() {
        const font = this.$refs.fontFiles.files[0];
        if (font) {
          const reader = new FileReader();
          // Closure to capture the file information.
          reader.onload = e => {
            const binaryData = e.target.result;
            //Converting Binary Data to base 64
            const base64String = window.btoa(binaryData);
            //showing file converted to base64
            this.fontInBase64 = base64String;
            this.applyFont();
          };
          // Read in the image file as a data URL.
          reader.readAsBinaryString(font);
        }
      },
      handleInput(textArray) {
        this.textArray = textArray;
      },
      convert() {
        this.$children[1].convert();
      },
      onFormated(container) {
        this.$children[2].showResult(container);
      },
    }
  };
</script>

<style lang="scss">
    @font-face {
        font-family: defaultFont;
        src: url('assets/robochivo.ttf') format('truetype');
    }
    html, body {
        margin: 0;
        font-family: defaultFont;
    }

    * {
        box-sizing: border-box;
    }

    h2 {
        text-align: center;
    }

    .settings-container {
        width: 100%;
        padding: 30px 0;
        background: gray;
        display: flex;
        align-items: center;
        justify-content: center;

        label {
            margin-right: 30px;

            span {
                margin-right: 15px;
            }
        }
    }
</style>
